:root {
	color-scheme: light dark;
}

* {
	box-sizing: border-box;
}

* {
	outline: none !important;
}

*:focus {
	outline: none !important;
}

*::-webkit-scrollbar {
	width: 8px; /* Set the width of the scrollbar */
}

*::-webkit-scrollbar-track {
	background: #1f1f1f;
	border-left: 1px solid #3d3d3d;
}

*::-webkit-scrollbar-thumb {
	background: #5c5c5c; /* Set the color of the scrollbar thumb */
	border-radius: 4px;
}

.fui-Listbox {
	max-height: 200px !important;
}

/* Pulse Styles */

.pulse {
	height: 7px;
	width: 7px;
	background-color: var(--colorPaletteRedBackground3);
	border-radius: var(--borderRadiusCircular);
	z-index: 20;
	position: relative;
	margin: 7px;
}

.pulse:before {
	display: block;
	content: '';
	position: relative;
	height: 7px;
	width: 7px;
	background-color: var(--colorPaletteRedBackground3);
	z-index: 10;
	opacity: 0.7;
	border-radius: var(--borderRadiusCircular);
}

.pulse:before {
	animation: pulse 2.5s ease-out infinite;
}

@keyframes pulse {
	100% {
		transform: scale(2.5);
		opacity: 0;
	}
}
